Python Script to Fetch User Time Line

In [15]:
import tweepy
# Consumer keys and access tokens, used for OAuth
consumer_key = 'NP4oejpG6l6NviSvtybUnpP1r'
consumer_secret = 'Qu71s8GLi14NutPiQ6eWXojmg6ZRUCQM2YRvfGEMRttEnQ8R3C'
access_token = '1022443048394006530-4pXclq0FvI7NV9wAal2U2LigcOgmgn'
access_token_secret = 'oW92Dz5n4cZvQJjBfJE3TuXtBDJRTxrJNYeXYvbzhoHKI'

# OAuth process, using the keys and tokens
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

# Creation of the actual interface, using authentication
api = tweepy.API(auth)


tweets = []

for status in tweepy.Cursor(api.user_timeline, screen_name='@TheVillaSomalia', tweet_mode="extended").items():
    #print(status)
    # print(status._json)
    tweets.append(status._json)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [16]:
len(tweets)

604

In [17]:
import pandas as pd
df = pd.DataFrame(tweets)

In [18]:
df.head(1)

                       created_at  ...  quoted_status
0  Fri Aug 28 12:49:33 +0000 2020  ...            NaN

[1 rows x 31 columns]

In [23]:
# pd.DataFrame.to_excel('M_Farmaajo_user_timeline.xlsx')
df.to_excel("TheVillaSomalia.xlsx")