`**SCRIPT TO FETCH HASHTAGS**`

In [ ]:
from twitter_scraper import get_tweets
import pandas as pd
import re
import time

In [ ]:
#!pip install twitter_scraper

In [ ]:
res_list = []
result_df = pd.DataFrame()
keyword_list = ["#M_Farmaajo"] 
## other keyword such as #CoronaVirus, #covid19
num_pages = 12

for kw in keyword_list:
    for i in range(1, num_pages+1):
        for tweet in get_tweets( kw , pages=i):
            tweet['time'] = str( tweet['time'])  ## convert datetime object to str 
            tweet['query_keywords'] = str(kw) 
            res_list.append(tweet)

In [ ]:
len(res_list)

3276

In [ ]:
df = pd.DataFrame(res_list)

In [ ]:
df.head(1)

               tweetId  ... query_keywords
0  1301751516613816323  ...      #Farmaajo

[1 rows x 13 columns]

In [ ]:
#df.time.iloc[1]

In [ ]:
 import json
 with open('Farmajo_Farmaajo.json', 'w') as file:
     json.dump(res_list,file)

In [ ]:
df.to_csv('#Farmajo_Farmaajo.csv',index=False)